/* CONTAINER */
#experience {
  min-height: 50vh;
  margin: auto;
  max-width: 1000px;
  padding-top: 100px;
}

/* TITRES */
.joblist-job-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--lightest-slate);
}

.joblist-job-company {
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--deep-olive);
}

.joblist-duration {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: var(--slate);
}

/* DESCRIPTION LISTE */
.job-description {
  padding-top: 24px;
  max-width: 650px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.job-description li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 16px;
  font-size: 16px;
  color: var(--forest-night);
  list-style: none;
}

.job-description li::before {
  content: '▹';
  color: var(--pine-green);
  position: absolute;
  left: 0;
}

.job-description a,
.job-description b {
  font-size: 17px;
  font-weight: bold;
}

#vertical-tabpanel {
  margin-top: -5px;
  padding-left: 25px;
}

.MuiTabs-indicator {
  background-color: var(--pine-green) !important;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  #experience {
    padding-left: unset;
    padding-right: unset;
  }

  .joblist-job-title,
  .joblist-job-company {
    font-size: 20px;
  }

  .job-description {
    padding-left: 0;
  }
}
/* 
  @media only screen and (max-width: 600px) {
    .MuiTab-wrapper {
      flex-direction: column !important;
      align-items: center !important;
      text-align: center !important;
    }
  }
   */
/* @media only screen and (max-width: 600px) {

    .jss1 {
      height: unset !important;
      flex-direction: column !important;
    }
  
    .makeStyles-root-1 {
      height: unset !important;
      width: unset;
      flex-direction: column;
    }
  

  } */
